# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Notebooks checkpoints
.ipynb_checkpoints/

# Virtual envs
venv/
.env/

# Data & models (large stuff)
data/
models/
runs/
logs/

# Allow source code under src/models to be tracked
!src/models/
!src/models/**

# Allow source code under src/data to be tracked
!src/data/
!src/data/**

# OS junk
.DS_Store
Thumbs.db
